/* Colores */
footer {
  background-color: #feba8c; }
  footer h5 {
    color: white; }
  footer ul {
    list-style: none; }
    footer ul a:link, footer ul a:active, footer ul a:visited {
      text-decoration: none;
      color: black; }

nav {
  background-color: #feba8c; }

main {
  background-color: #feba8c; }
