@import "colores";




footer {
    background-color:$color-footer;

    h5 {
        color: white ;
    }

    ul {
      list-style: none; 
    
      a:link, a:active, a:visited{
        text-decoration: none;

        color: black;
      }
    }


    
}

nav {
    background-color: $color-nav;
    
}


main {
    background-color: $color-main;
}

form {
    background-color: $color-main;

    h3 {
        color: white;
    }

    ul {
        list-style: none;
    
        a:link, a:active, a:visited{
            text-decoration: none;
    
            color: black;
          }

    }
   
}

