@import "colores";




footer {
    background-color:$color-header;
}

nav {
    background-color: $color-header;
}

h2 {
    background-color: $color-header;
    
}

main {
    background-color: $color-main;
}